.butlist{
    border: 4px;
    height: 100%;
    text-transform: uppercase;
    color: rgb(73, 46, 32);
    background-color: transparent;
    transition: 0.2s;
    margin: 0 17px;
    padding: 16px 20px 10px 20px;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-weight: bold;
    font-size: 20px;
}
.butlist:hover{
    border-style: none solid none solid;
    color: #53117c;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 20%, #F0E4FFFF 50%);
}


.curs__navigation{
    background-color: transparent;
    border: 4px;
    border-bottom-style: solid;
    color: #53117c;
    height: 34px;
}

.cards {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 100%; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 40px; /* Отступ между рядами */
    /* margin: 0 auto; */
    margin-top: 25px;
}
.card {
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(86, 27, 124, 0.32);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}
/*Название курса*/
.card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: #3a0b54;
    text-decoration: none;
    font-weight: bold;
}
.card__label:hover {
    color: #b77cff;
    transition: 0.2s;
    cursor: pointer;
}
/* При наведении на карточку - меняем цвет тени */
.card:hover {
    box-shadow: 4px 8px 16px rgb(183, 124, 255);
}
/*сердечко*/
.heart {
    position: relative;
    width: 15px;
    height: 26px;
    background-color: #fdb7b7;
    box-shadow: -1px 0px 2px #444;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    /* Определяем угол наклона */
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}
/* Формируем правую часть */
.heart:before {
    position: absolute;
    width: 26px;
    height: 15px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: #fdb7b7;
    box-shadow: 0px 3px 3px #444444;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 0 50px 50px 0;
}
/* Убираем тень при наведении */
.heart:hover:before, .heart:hover{
    box-shadow:none;
}
.card__favor{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
}
.heart__active{
    position: relative;
    width: 15px;
    height: 26px;
    background-color: #850808;
    box-shadow: -1px 0px 2px #444;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    /* Определяем угол наклона */
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}
.heart__active:before {
    position: absolute;
    width: 26px;
    height: 15px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: #850808;
    box-shadow: 0px 3px 3px #444444;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 0 50px 50px 0;
}

.card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
    border-radius: 4px;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
}

.card__prices {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card__price--common {
    font-weight: 400;
    font-size: 14px;
    color: #606060;
}

.card__price--discount {
    font-weight: bold;
    font-size: 15px;
    color: #414141;
}

.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #3a0b54;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(86, 27, 124, 0.32);
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
    border: 1px solid #53117c;
    background-color: #53117c;
    color: #fff;
}