html{
    height: 5000px;
}
body {
    font-family: "Century Gothic", sans-serif;
    height: 100vh;
    background: linear-gradient(#dac2ff, #ffffff 25%);
}

.g_title{
    margin-top: 8%;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: normal;
    color: #652f15;
}
.g_title2{
    text-align: center;
    letter-spacing: 2px;
    color: #53117c;
}

